@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black: rgb(50, 50, 50);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 255, 255, 255;
    --black: rgb(50, 50, 50);
  }
}

* {
  transition: 0.25s;
}
body {
  color: var(--black);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

.secondary-glass {
  background-color: rgba(
    29,
    52,
    57,
    0.7
  ); /* Background color with transparency */
  backdrop-filter: blur(10px); /* Blurs the background behind the div */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Light border for the glass effect */
}

.primary-glass {
  background-color: rgba(
    255,
    112,
    0,
    0.7
  ); /* Background color with transparency */
  backdrop-filter: blur(10px); /* Blurs the background behind the div */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Light border for the glass effect */
}

.btn {
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
